/* src/components/Header.css */
.header-container {
    background-color: #4caf50; /* Color verde suave */
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .header-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .header-subtitle {
    font-style: italic;
    opacity: 0.9;
  }
  